.cmn {
   &__wrapper {
      @include container();
   }

   &__layout {
      display: flex;
      flex-direction: column;
      min-height: inherit;
   }

   &__section-title {
      font-family: $font_sec-extra;
      font-size: 3.6rem;
      line-height: 5rem;
      
      color: $primary;
   }

   &__section-subtitle {
      font-family: $font_sec-extra;
      font-size: 2.8rem;
      line-height: 3.9rem;
      text-align: center;
      max-width: 32rem;
      margin: 0 auto;
      
      color: $primary;
   }

   &__link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 26rem;
      width: fit-content;
      padding: 1.9rem;
      background: radial-gradient(61.86% 625% at 49.9% 80.13%, #001234 0%, #3A4965 100%);
      box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      margin: 0 auto;

      font-family: $font_reg-med;
      font-size: 1.8rem;
      line-height: 2.5rem;

      color: $col_white;

      &::before,
      &::after {
         position: absolute;
         top: 50%;
         width: 50vw;
         height: 3px;
         content: '';
         opacity: .6;
      }
      
      &::before {
         left: -50vw;
         background: linear-gradient(90deg, rgba(0,18,52,0) 0%, rgba(0,18,52,1) 100%);

         
      }

      &::after {
         right: -50vw;
         background: linear-gradient(90deg, rgba(0,18,52,1) 0%, rgba(0,18,52,0) 100%);
      }

      &--floating {
         height: 5rem;
         position: relative;
         top: -1rem;
         background: rgba(0, 27, 67, 0.6);
         border: 1px solid rgba(255, 255, 255, 0.5);
         box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
         backdrop-filter: blur(6px);
         border-radius: 2px;

         &::before,
         &::after {
            display: none;
         }
      }
   }

   &__text {
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $primary;

      &--white {
         color: $col_white;
      }
   }
}

.fade-in-enter-active {
   transition: all .4s .5s ease;
}

.fade-in-leave-active {
   transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-in-enter {
   opacity: 0;
}

.fade-in-leave-to {
   opacity: 0;
}

.fade-enter-active {
   transition: all .4s .5s ease;
}

.fade-leave-active {
   transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter {
   transform: translateX(20px);
   opacity: 0;
}

.fade-leave-to {
 transform: translateX(-20px);
 opacity: 0;
}

.move-up-enter-active {
   transition: all .3s .1s ease;
}

.move-up-leave-active {
   transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.move-up-enter {
   transform: translateY(20px);
   opacity: 0;
}

.move-up-leave-to {
   transform: translateX(-20px);
   opacity: 0;
}