@font-face {
    font-family: "Poppins-Regular";
    src: url("~@/assets/fonts/Poppins-Regular.woff2") format("woff2"),
         url("~@/assets/fonts/Poppins-Regular.woff")  format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("~@/assets/fonts/Poppins-Medium.woff2") format("woff2"),
         url("~@/assets/fonts/Poppins-Medium.woff")  format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather-Regular";
    src: url("~@/assets/fonts/Merriweather-Regular.woff2") format("woff2"),
         url("~@/assets/fonts/Merriweather-Regular.woff")  format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather-Bold";
    src: url("~@/assets/fonts/Merriweather-Bold.woff2") format("woff2"),
         url("~@/assets/fonts/Merriweather-Bold.woff")  format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather-Black";
    src: url("~@/assets/fonts/Merriweather-Black.woff2") format("woff2"),
         url("~@/assets/fonts/Merriweather-Black.woff")  format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("~@/assets/fonts/Gilroy-Medium.woff2") format("woff2"),
         url("~@/assets/fonts/Gilroy-Medium.woff")  format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("~@/assets/fonts/Gilroy-Regular.woff2") format("woff2"),
         url("~@/assets/fonts/Gilroy-Regular.woff")  format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
