/* stylelint-disable */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-text-size-adjust: none;
  background-color: $col_body-bg;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $font_reg, sans-serif;
  overflow-x: hidden;
}

footer {
  margin-top: auto;
}

button {
  cursor: pointer;
}

input[type=text], textarea {
	-webkit-appearance: none;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea {
  border-radius: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
